<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/sub-page.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>CAVO</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" a href="../../css/style.css" type="text/css" />
<link rel="stylesheet" a href="../../css/sub.css" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div align="center">
  <div id="header-wrapper">
    <div id="header">
      <div id="section1">
        <div id="logo"> <img src="images/logo.png" /> </div>
        <div id="frame-nav">
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="demo.html">Demo</a></li>
            <li><a href="vocabulary-test.html">Vocabulary Test</a></li>
            <li><a href="#">Summer Camp Test</a></li>
            <li><a href="#">Control Panel</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>
      </div>
      <!--end SECTION1-->
    </div>
    <!--end HEADER-->
    <div id="loginstatus">
    	<div class="welcome">
        	<p>Welcome Mike Posani : <a href="#">My Account</a> | <a href="#">Sign Out</a>
            </p>
        </div>
    </div><!--end LOGINSTATUS-->
  </div>
  <!--end HEADER-WRAPPER-->
  <div id="content-wrapper">
  	<div id="frame-content">
		<div id="sub-content"><!-- InstanceBeginEditable name="content" -->
        <div id="sidebar">
          <h1>DEMO TEST</h1>
          <p>Each of the following tests contains 4 difficulty levels. The demo tests have been designed the same way as our standard tests, which have the exact same look and feel. However, unlike the standard vocabulary tests, they do <b>NOT</b> monitor your test data, and thus do <b>NOT</b> smartly adjust test difficulties. To enjoy more features of our vocabulary tests, <b><a href="register.html">Join Now!</a></b></p>
          <p>In the demo tests, there are 20 questions in each test.</p>
          <p><b>Good luck!</b></p>
        </div>
        <!--end SIDEBAR-->
        <div class="col2">
          <div class="column">
            <div class="tag">
              <h3>CHINESE VOCABULARY</h3>
              <img src="images/cn-cn.gif" /> </div>
            <p>In this test, each question will contain one Chinese word, you will select the most appropriate Chinese interpretation for the question.</p>
            <div class="start_btn"> <a href="#"><img src="images/start_btn.gif" /></a> </div>
          </div>
          <div class="column">
            <div class="tag">
              <h3>ENGLISH DICTIONARY</h3>
              <img src="images/cn-en.gif" /> </div>
            <p>In this test, each question will contain one Chinese word, you will select the most appropriate English interpretation for the question.</p>
            <div class="start_btn"> <a href="#"><img src="images/start_btn.gif" /></a> </div>
          </div>
          <div class="column last">
            <div class="tag">
              <h3>PIN YIN TEST</h3>
              <img src="images/pinyin.gif" /> </div>
            <p>In this test, each question will contain one Chinese word, you will select the most appropriate Pin Yin interpretation for the question.</p>
            <div class="start_btn"> <a href="#"><img src="images/start_btn.gif" /></a> </div>
          </div>
        </div>
        <div style="clear: both"></div>
        <!--end COL2-->
        <p>&nbsp;</p>
        <!-- InstanceEndEditable --></div>
    </div><!--end FRAME-CONTENT-->
  </div><!--end CONTENT-WRAPPER-->
  <div id="footer-wrapper">
    <div id="footer">
      <div class="hr"><hr /></div>
      <div id="contact-info">
        <p>Chinese Flagship Program<br/>
          The Ohio State University<br/>
          2941 Kenny Road, Suite 200<br />
          Columbus, OH 43221<br />
          E-mail: <a href="mailto:chinese@osu.edu">chinese@osu.edu</a><br />
          Phone: (614) 292-0577 or (614) 292-0460<br />
          Fax: (614) 292-3194<br />
      </div>
      <div class="column">
        <h2>Info:</h2>
        <p><a href="#">About us</a><br />
          <a href="#">Our Design Concept</a><br />
          <a href="#">Contact us</a></p>
      </div>
      <div class="column">
        <h2>Our Friends:</h2>
        <p><a href="#">Advanced Performance Portfolio System</a><br />
          <a href="#">Chinese Flagship Program</a><br />
          <a href="#">The Ohio State University</a></p>
      </div>
      <div class="column last">
        <p>Copyright © 2008-2010 National East Asian Languages Resource Center &amp; Chinese Flagship Program<br/>
          <a href="http://validator.w3.org/check/referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>
      </div>
    </div><!--end FOOTER-->
  </div><!--end FOOTER-WRAPPER-->
</div>
</body>
<!-- InstanceEnd --></html>
