@charset "utf-8";
/* CSS Document */
.demoreportwrapper h2{font-size:2em; color:#366; margin-bottom:15px;}
.demoreportwrapper h3{ color:#333; text-align:left; text-indent:5px;}
.demoreportwrapper p{text-indent:20px;}
